[submodule "third_party/openthread/repo"]
	path = third_party/openthread/repo
	url = https://github.com/openthread/openthread.git
[submodule "third_party/paho.mqtt-sn/repo"]
	path = third_party/paho.mqtt-sn/repo
	url = https://github.com/eclipse/paho.mqtt-sn.embedded-c.git
